{% extends 'base.html' %}

{% load link_filters %}

{% block title %}{{ video.title }}{% endblock %}

{% block content %}
    <div class="video-player">
        <video controls>
            <source src="{% url 'protected_media' video.video_file.name %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <p>
        <small class="text-muted">
            Created: {{ video.created_at|date:"M d, Y" }}
        </small>
    </p>
    <h1>{{ video.title }}</h1>
    <p>Uploaded to: <a href="{% url 'channel_show' video.channel.id %}">{{ video.channel.name }}</a></p>
    <p>{{ video.description|urlize_target_blank|safe_html|linebreaks }}</p>


    {% if user == video.channel.owner %}
        <div style="margin-top: 1rem;">
            <a href="{% url 'video_edit' video.id %}" class="btn">Edit Video</a>
        </div>
    {% endif %}
{% endblock %}
